<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="ApplicationName" value="Exam IZVP"/>
		<add key="DataPath" value="Data\"/>
		<add key="ExportPath" value="Exports\"/>
		<add key="DefaultLanguage" value="uk"/>
		<add key="MaxItems" value="1000"/>
	</appSettings>
</configuration>